
body{
    background-color: orange;
}

.center{
    display: flex;
    justify-content: center;
}
.joystick{
    width:200px;height:200px;
}
.centertext{
    text-size-adjust: 250px;
    display: flex;
    justify-content: center;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical; /* WebKit */

}