<!DOCTYPE HTML>
<html>

<Head>
    <title>Drive Me</title>

    <script type=text/javascript src="{{url_for('static', filename='js/joy.js') }}"></script>
   
    <script src="static/node_modules/socket.io-client/dist/socket.io.js"></script>

    <link href="static/css/joystick.css" rel="stylesheet"></link>

</Head>

<body>
    
   <!-- <div style="padding-top: 20px;"> 
       <div class="center">
        <img src="/static/testImage.jpg">
    </div> -->
    <br>
    <h1 class="center">
Use the green dot to drive The Bot!
    </h1>

    <h2 class="center">Or connect a hardware controller ;)</h2>

    <h2 class="center" id= "conStatus">Controller Disconnected (connect and push buttons to activate)</h2>
    
    

<div style="width: 100%; display: table;">

 <div style="display: table-row">

    <div style="display: table-cell;">
    <div style="padding-top: 20px;"> 
        <div class="center">
         <img src="/static/testImage.jpg">
     </div>
    </div>

</div>




<div style="display: table-cell;">
       
     <div class="center">

        <div id="joy1Div" class="joystick"></div>

</div>

  
    <div style="  display: flex;justify-content: center;">
            X :<input id="joy1X" type="button" />
            Y :<input id="joy1Y" type="button" />
    </div>

</div>
</div>
    <script type=text/javascript src="{{url_for('static', filename='js/com.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/gamepad.js') }}"></script>

</body>


</html>